
.navbar-toggler {border: 0px solid #fff}

.h-85 { height:85% }

.carousel-item {
  height: 95vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  /* -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; */
}
  
.carousel-item.lightbox {
  /* -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%; */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.carousel-caption { color:#333; padding-bottom: 10px; }
.carousel-indicators li, .carousel-indicators .active { background-color: #333; }
.carousel-control-next, .carousel-control-prev { filter: invert(90%); }

/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
} */



.modal-fullscreen .modal-dialog {
	 /* width: 100%; */
	 max-width: 99vw;
	 /* height: 100%; */
	 max-height: 90vh;
	 margin: auto;
	 padding: auto;
	 /* max-width: none; */
}
.modal-fullscreen .modal-content {
	 height: auto;
	 /* min-height: 70%; */
	 max-height: 90vh;
	 border-radius: 0;
	 border: none;
}
 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
* { font-family: 'Inter', sans-serif; }
