@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

body { font-family: 'Inter', sans-serif; }

html {padding: env(safe-area-inset); }

.navbar-brand { 
	font-weight: 500;
}

.navbar-toggler {
	border: 0px solid #fff; border-radius:0; 
	padding: 0;
}

.h-85 { height:85% }
.carousel-indicators li {
	height: 2px;
}
.carousel-caption { 
	color:#333; 
	padding-bottom: 1rem; 
	}

.carousel-item {
  height: 95vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
}


@media (max-width: 576px) { 
	.carousel-item {
		-webkit-background-size: 80%;
		-moz-background-size: 80%;
		-o-background-size: 80%;
		background-size: 80%;
		margin-top: -1.5rem;
		margin-bottom: 1.5rem;
	}
}
@media (max-width: 896px) { 
	.carousel-caption { 
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
		bottom: 0;
	}
	.carousel-indicators {display:none;}
	
}


.carousel-indicators li, .carousel-indicators .active { 
	background-color: #333; 
	}
.carousel-control-next, .carousel-control-prev { 
	filter: invert(90%);  
	top: unset; 
	bottom: 1rem;
	width:10%;
	}


.modal { background-color: #fff; }

.modal-content {
  background-color: rgba(255,255,255,0);
  padding: 0; border: 0;
}
.modal-header { padding: 5px; border: 0; }
.modal-header .close {
  margin: -0.5rem 0 -0.5rem auto;
	padding: 1rem 0;
}
.modal-body, .modal-footer { 
	padding: 0; 
	border: 0;

}
.modal-body { 
	margin: -2rem 0 0 0;
}


.modal-fullscreen .modal-dialog {
	max-width: 90vw;  /* 99vw */
	max-height: 80vh;
	margin: auto;
	padding: auto;
}
.modal-fullscreen .modal-content {
	 height: auto;
	 width: auto;
	 /* min-height: 70%; */
	 max-height: 80vh;
	 border-radius: 0;
	 border: none;
}
 
/* .carousel-item.lightbox > img {
		max-height: 85% !important;
		width: auto !important;
		max-width: 85% !important;
	}

@media (max-width: 576px) { 
	.carousel-item.lightbox > img {
		max-height: 50% !important;
		width: auto !important;
		max-width: 95% !important;
	}
} */